@{
    var user = (GIVE_AID.Models.UserSession)HttpContext.Current.Session["USER_SESSION"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Admin Dashboard</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Assets/Server/Admin/css/custom.css" />
    <link rel="stylesheet" href="~/Assets/Server/Pagination/Pagination.css">
    <script src="~/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="@user.Avatar" alt="#" /></div>
                            <div class="user_info">
                                <h6>@user.UserName</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="@Url.Action("Index","HomeAdmin", new { area = "Admin" })"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                        </li>
                        <li><a href="@Url.Action("Index","Home", new { area = "" })"><i class="fa-solid fa-home red_color"></i> <span>Home</span></a></li>
                        <li><a href="@Url.Action("Index","UsersList", new { area = "Admin" })"><i class="fa-solid fa-user orange_color"></i> <span>All Users</span></a></li>
                        <li><a href="@Url.Action("Index","AdminsList", new { area = "Admin" })"><i class="fa-solid fa-user-tie purple_color2"></i> <span>Admins</span></a></li>
                        <li><a href="@Url.Action("Index","NGOsList", new { area = "Admin" })"><i class="fa-solid fa-handshake-angle brown_color"></i> <span>NGO's</span></a></li>
                        <li><a href="@Url.Action("Index","DonationsList", new { area = "Admin" })"><i class="fa-solid fa-hand-holding-dollar green_color"></i> <span>Donations</span></a></li>
                        <li><a href="@Url.Action("Index","Causes", new { area = "Admin" })"><i class="fa-solid fa-hand-holding-dollar red_color"></i> <span>Causes</span></a></li>
                        <li><a href="@Url.Action("Index","NewsList", new { area = "Admin" })"><i class="fa-solid fa-newspaper"></i> <span>News List</span></a></li>
                        <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="@user.Avatar" alt="#" /><span class="name_user">@user.UserName</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="@Url.Action("Index", "MyProfile", new { area = "Admin" })">My Profile</a>
                                                <a class="dropdown-item" href="#">Settings</a>
                                                <a class="dropdown-item" href="#">Help</a>
                                                <a class="dropdown-item" href="@Url.Action("Logout", "Accounts", new { area = "" })"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                @RenderBody()
                <!-- footer -->
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Assets/Server/Admin/js/jquery.min.js"></script>
    <script src="~/Assets/Server/Admin/js/popper.min.js"></script>
    <script src="~/Assets/Server/Admin/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/Assets/Server/Admin/js/animate.js"></script>
    <!-- select country -->
    <script src="~/Assets/Server/Admin/js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/Assets/Server/Admin/js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/Assets/Server/Admin/js/Chart.min.js"></script>
    <script src="~/Assets/Server/Admin/js/Chart.bundle.min.js"></script>
    <script src="~/Assets/Server/Admin/js/utils.js"></script>
    <script src="~/Assets/Server/Admin/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/Assets/Server/Admin/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    <script src="~/Assets/Server/Admin/js/custom.js"></script>
    <script src="~/Assets/Server/Admin/js/chart_custom_style1.js"></script>
</body>
</html>