@model GIVE_AID.Areas.Admin.Models.NewsListModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container" style="margin-top:100px;">
    @using (Html.BeginForm("Create", "NewsList", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ImagePath)
            @Html.TextBoxFor(m => m.ImagePath, new { @class = "form-control", @id = "input-image" })
            <input type="button" value="Tải Ảnh" onclick="BrowseServer('input-image'); " />
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @id = "input-content" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Author)
            @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TypeOfNews)
            @Html.TextBoxFor(m => m.TypeOfNews, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CreatedDate)
            @Html.TextBoxFor(m => m.CreatedDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @Type = "datetime-local" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ModifiedDate)
            @Html.TextBoxFor(m => m.ModifiedDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @Type = "datetime-local" })
        </div>
        @*<div class="form-group">
                @Html.LabelFor(m => m.UserId)
                @Html.TextBoxFor(m => m.UserId, new { @class = "form-control"})
            </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            @Html.CheckBoxFor(m => m.Status)
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    }
</div>

<script>
    CKEDITOR.replace("input-content")
    CKFinder.setupCKEditor(null, '/ckfinder');
    function BrowseServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            document.getElementById(field).value = fileUrl;
        };
        finder.popup();
    }
</script>
